body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.container{
margin: 0px 50px;
m
}
section{
    display: flex;
    align-items: center;
}

   .border-line{
    border-left: 2px solid red;
   
   }

#focus-color{
    color: #FF5959;
  
}
.half-width{
    width: 50%;
    padding-left:3%;
    margin-top: 10px;}
    .topimg-bg{
background-image: url(images/shapes/shape-4.png);
    }
.half-width img{
    width: 80%;
    margin-top: 0;
   
}
.link-button{
    text-decoration: none;
    background-color: #FF5959;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}
.headline-text{
    display: flex;
   justify-content: center;
}
.headline{
  display: flex; 
}
.headline img{
    width: 33%;
}
#my_mission-color{
    color: #13103A;
}
#Color{
    color: #FFAD5A;
}
.imgbg-1{
    background-color: #f3dcc5;
    border-radius: 30px;
    padding: 50px ;
    margin: 2px 15px;
    
}
.imgbg-2{
    background-color: #efe9f5;
    border-radius: 30px;
    padding: 50px;
    margin: 2px 15px;
}
.imgbg-3{
    background-color: #d7e7b9;
    border-radius: 30px;
    padding: 50px;
    margin: 2px 15px;
}
.banner-3{
    display: flex;
    align-items: center;
}
.banner-width{
    width: 50%;
    justify-content: center;
}
.banner3-img{
    width: 80%;
    align-content: center;
    margin-top: 20px;
    background-image: url(images/shapes/shape-1.png);
}
.banner-4{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.banner-width{
    width: 50%;
    justify-content: center;
}
.banner4-img{
    width: 80%;
    align-content: center;
    margin-top: 20px;
}
.headline-mission{
    display: flex;
   justify-content: center;
   text-decoration:underline;
   padding-bottom: 5px;
   text-decoration-color: #FFAD5A;
}
.section-5{
    display: flex;
    margin-bottom: 10px;
}
.section-5 img{
    width: 50%;
}
.imgbg-5{
    background-color: #d7e7b9;
    border-radius: 30px;
    padding: 50px;
    margin: 2px 15px;
}
.imgbg-6{
    background-color: #d7e7b9;
    border-radius: 30px;
    padding: 50px;
    margin: 2px 15px;
}
.footer-bg{
    background-color: #0B0D17;
}
.footer-text{
    display: flex;
   justify-content: center;
   font-family: 'Lobster', cursive;
}
.footer-slogan{
    display: flex;
   justify-content: center;
   color: white;
}
#mission-color{
    color: white;
}
#Colors{
    color: #5ee70f;
}

